<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.devlab.massivesms" android:versionCode="1" android:versionName="1">
	<uses-sdk android:targetSdkVersion="17" android:minSdkVersion="16" />
	<uses-permission android:name="android.permission.SEND_SMS" />
	<application android:icon="@drawable/ic_launcher" android:label="Massive SMS"></application>
</manifest>